@import "tailwindcss";
@plugin "daisyui";

body {
    background: linear-gradient(to bottom right, #0f172a, #1e293b);
    /* Professional Slate */
    min-height: 100vh;
    color: #f1f5f9;
    margin: 0;
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, sans-serif;
}